[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AgroTech"]
	path = AgroTech
	url = https://github.com/cran/AgroTech
	shallow = true
	registered = true
